<main class="main-qatar">
<h2 class="titulo-fixture">Fixture de Argentina en <span>Qatar 2022</span></h2>
<table class="tabla-fixture">
    <tr>
      <th>Fecha</th>
      <th>Sede</th>
      <th>Rival</th>
    </tr>
    <tr>
      <td>Martes 22/11, 07:00 (ARG)</td>
      <td>Estadio Lusail</td>
      <td class="rival">Arabia Saudita <img src="assets/img/arabia.png" alt="" class="bandera"></td>
    </tr>
    <tr>
      <td>Sábado 26/11, 16:00 (ARG)</td>
      <td>Estadio Lusail</td>
      <td class="rival">Mexico <img src="assets/img/mexico.png" alt="" class="bandera"></td>
    </tr>
    <tr>
        <td>Miércoles 30/11, 16:00 (ARG)</td>
        <td>Estadio 974</td>
        <td class="rival">Polonia <img src="assets/img/polonia.png" alt="" class="bandera"></td>
      </tr>
  </table>

<div class="cont-estadios">
    <div class="estadio-1">
        <h3 class="estadio-nombre">Estadio Lusail</h3>
        <p>El Estadio Lusail llegará a convertirse en una sede histórica por multitud de razones. Por su capacidad, será el mayor estadio de la primera Copa Mundial de la FIFA™ celebrada en el Golfo y el eje central de una nueva metrópoli llamada Ciudad Lusail. Como parte del legado de la competición, la infraestructura del estadio se transformará una vez concluida la fase final mundialista en un espacio para la comunidad, con escuelas, tiendas, cafeterías, instalaciones deportivas y clínicas de salud.

            Con el objetivo de compartir el legado de Qatar 2022 con el mundo, el Comité Supremo para la Organización y el Legado (SC) planea que la mayor parte de los 80.000 asientos del estadio se desmontará después del certamen, y se donará a proyectos deportivos de todo el planeta.
            
            Con un diseño que alude a los motivos decorativos de los cuencos de cerámica del mundo árabe, el Estadio Lusail brindará a los aficionados un festival de fútbol en 2022.</p>
        <img src="assets/img/lusail.jpg" alt="" class="estadio-img">
    </div>
</div>

<div class="cont-estadios">
    <div class="estadio-974">
        <h3 class="estadio-nombre">Estadio 974</h3>
        <p>Para la construcción del Stadium 974, sin duda uno de los más innovadores de la historia de la Copa Mundial de la FIFA™, se utilizarán contendedores de transporte, asientos desmontables y otros bloques modulares.

            Además de su innovadora estructura, el estadio se desmontará completamente una vez concluido el Mundial, y sus diferentes partes se reutilizarán en otros proyectos, lo que proporcionará al legado mundialista un sentido totalmente novedoso, según los planes del Comité Supremo para la Organización y el Legado (SC).
            
            Los terrenos del estadio se convertirán en una deslumbrante urbanización junto al paseo marítimo para disfrute de la comunidad de la bahía occidental de Doha.</p>
        <img src="assets/img/974.jpg" alt="" class="estadio-img">
    </div>
</div>

</main>
