<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">Entradas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/qatar']">Qatar 2022</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
    <!-- <app-seleccion-jugadores></app-seleccion-jugadores> -->
    <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom border-2 pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" [routerLink]="['/about']">Entradas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" [routerLink]="['/qatar']">Qatar 2022</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2021 - {{title}} Argentina | All rights reserved</p>
  </footer>
</div>

<div class="b-example-divider"></div>