<div class="contenedor-form m-auto mt-5 mb-5">
    <div class="izquierda-form">
        <img src="assets/img/messiForm.png" class="messi"/>
    </div>
    <div>
        <h2>Detalles de Pago</h2>
        <form>
            <ul class="form-list">
                <li class="form-list__row">
                    <label>Nombre y Apellido</label>
                    <input type="text" name="" required=""/>
                </li>
                <li class="form-list__row">
                    <label>Numero de tarjeta</label>
                    <div>
                        <input type="text" name="numero" required=""/>
                    </div>
                </li>
                <li class="form-list__row form-list__row--inline">
                    <div>
                        <label>Fecha de expiracion</label>
                        <div class="form-list__input-inline">
                            <input type="text" name="mes" placeholder="Mes" required=""/>
                            <input type="text" name="anio" placeholder="Año" required=""/>
                        </div>
                    </div>
                    <div>
                        <label>
                            CDS
                        </label>
                        <input type="text" name="cds" placeholder="123" required=""/>
                    </div>
                </li>
                <li class="form-list__row form-list__row--agree">
                    <label>
                        <input type="checkbox" name="guardar" checked="checked">
                            Guardar mis datos para proximas compras
                    </label>
                </li>
                <li>
                    <button type="submit" class="button">Pagar</button>
                </li>
            </ul>
        </form>
    </div>
</div>

